body {
    background-color: #fff4e8;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo-FP{
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 25%;
    height: 25%;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-iniciar {
    width: 55%;
    margin-bottom: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.btn-regresar {
    width: 30%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

p {
    text-align: center;
}

.img-equipo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-equipo img {
    border-radius: 50%;
    width: 40%;
    transition: box-shadow 0.3s ease;
}

.img-equipo:hover img {
    box-shadow: 0 0 10px 5px rgb(98, 0, 255);
}