body {
    background-color: #fff4e8;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
}

.encabezado {
    margin-bottom: 70px;
}

.encabezado h2, .encabezado p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnEnviar{ 
    width: 60%;
}

.btnSalir{
    width: 60%;
}