@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: sans-serif;
}

body {
    background: #FFF4E8;
}

.section-padding {
    padding: 100px 0;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
}

.carousel-caption { 
    bottom: 220px;
    z-index: 2;
}

.carousel-caption h5 { 
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p { 
    width: 60%;
    margin: auto;
    font-size: 20px;
    line-height: 1.9;
}

.carousel-inner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.473);
    z-index: 1;
}

.navbar {
    background-color: #FFF4E8 !important;
}

.navbar ul li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    margin-bottom: -2px;
    background: linear-gradient(to right, #0041C2, #454f31, #F4BB44, #56070C);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.8s ease-in-out;
}

.navbar ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar-nav a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.intranet{
    background-color: #c7d3ce;
    color: #3c5e10;
    border: none;
    border-radius: 25px;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.intranet:hover {
    background-color: #d5f0b2;
}

.navbar-nav .nav-link{
    color: #3c5e10 !important;
}

.navbar-toggler {
    border: 2px solid #3c5e10;
}

.navbar-toggler:focus {
    box-shadow: none;
}

#menuToggler {
    color: #3c5e10;
}

.navbar-light .navbar-brand {
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #000;
}

.w-100 {
    height: 100vh;
}

.navbar-brand img {
    width: 50px;
}


@media only screen and (min-widtg: 768px) and (max-width: 991px) {
        
    .carousel-caption {
        bottom: 370px;
    }

    .carousel-caption p {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-nav {
        text-align: center;
    }

    .carousel-caption {
        bottom: 125px;
    }

    .carousel-caption h5 {
        font-size: 25px;
    }

    .carousel-caption a {
        padding: 10px 15px;
    }

    .carousel-caption p {
        width: 100%;
        line-height: 1.6;
        font-size: 15px;
    }
}
