body {
    background-color: #fff4e8;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo-FP{
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 25%;
    height: 25%;
}
